@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');

* {
    font-family: 'Nanum Gothic';
}

.signup__body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #F5F6F7;
}

.signup__header {
    margin-top: 30px;
    margin-bottom: 40px;
    color: #2CB400;
}

.signup__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup__form__input .input__name {
    font-size: 13px;
    font-weight: bold;
    margin: 5px 0 8px;
}

.signup__form__input {
    display: flex;
    flex-direction: column;
}


.validation__message {
    width: 462px;
    height: 20px;
    font-size: 12px;
    margin: 9px 0 -2px;
}

.signup__form__input .input__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 460px;
    height: 50px;
    border: 1px solid #DADADA;
    background-color: #FFFFFF;
}

.signup__form__input .input__box__checked {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 460px;
    height: 50px;

    border: 1px solid #2CB400;
    background-color: #FFFFFF;
}

.input__tag {
    width: 430px;
    height: 30px;
    border:none;
    font-size: 14px;
}

.input__tag:focus {
    outline:none;
}

.signup__form__input .input__box__birth {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 146px;
    height: 50px;

    border: 1px solid #DADADA;
    background-color: #FFFFFF;
}

.signup__form__input .input__birth .input__tag__birth {
    width: 120px;
    height: 30px;
    border:none;
    font-size: 14px;
}


.signup__form__input .input__box__birth .birth__month {
    width: 120px;
    height: 30px;
    border:none;
    -webkit-appearance: none;
    background-color: #FFFFFF;
    font-size: 14px;
    background: url('../images/drop_down_button.svg') no-repeat 95% 50%;
    background-size: 13px;
}

.input__birth {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.signup__form__input .input__gender {
    width: 430px;
    height: 30px;
    border:none;
    -webkit-appearance: none;
    background-color: #FFFFFF;
    font-size: 14px;
    background: url('../images/drop_down_button.svg') no-repeat 98% 50%;
    background-size: 13px;
}

.signup__form__conditions {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.signup__form__conditions .conditions__text {
    text-decoration: underline;
    font-weight: bold;
    font-size: 14px;
}

.signup__form__conditions .input__box .condition__checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #bcbcbc;
}

.signup__form__buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: space-between;
}

.signup__form__buttons .signup__button {
    background-color: #2CB400;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 19px;

    width: 223px;
    height: 62px;
}

.contract__modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background-color: red; !* Fallback color *!*/
    background-color: rgba(0,0,0,0.3);
    padding-top: 5%;
}

.contract__modal__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    margin: 0 auto;
    border: 1px solid #bcbcbc;
    width: 600px;
    height: 590px;
}

.contract__modal__content .contract {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* The Close Button */
.contract__close {
    color: #bcbcbc;
    width: 95%;
    font-size: 25px;
    text-align: right;
}

.contract__close:hover,
.contract__close:focus {
    color: #2CB400;
    text-decoration: none;
    cursor: pointer;
}

.contract__title {
    font-size: 16px;
    width: 460px;
    height: 16px;
    margin-bottom: 15px;
    font-weight: bolder;
}

::-webkit-scrollbar{width: 8px;}
::-webkit-scrollbar-track {background-color:#F5F6F7;}
::-webkit-scrollbar-thumb {background-color:#bcbcbc;border-radius: 10px; width: 8px;}
::-webkit-scrollbar-thumb:hover {background: #828282;}

.contract__text {
    padding: 15px 15px 15px 15px;
    border: 1px solid #bcbcbc;
    font-size: 13px;
    overflow: scroll;
    width: 460px;
    height: 400px;
    color: #666666;
    overflow-x: hidden;
}

.contract__agree__button {
    background-color: #DADADA;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 19px;

    width: 150px;
    height: 50px;
    margin-top: 16px;
}

.contract__agree__button__activate {
    background-color: #2CB400;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 19px;

    width: 150px;
    height: 50px;
    margin-top: 16px;
}

.contract__agree__button__activate:hover,
.contract__agree__button__activate:focus {
    cursor: pointer;
}

.input__box__interest {
    display: flex;
    align-items: center;
    width: 460px;
    min-height: 50px;
    border: 1px solid #DADADA;
    background-color: #FFFFFF;
    flex-flow: wrap;
    flex-direction: row;
    align-content: center;

}

.input__box__interest .input__interest {
    width: 430px;
    height: 30px;
    line-height: 30px;
}

.input__box__interest .input__interest:focus {
    outline:none;
}

.input__box__interest .interest__tags {
    display: flex;
    flex-flow: wrap;
    /*flex-direction: row;*/
    /*padding-left: 15px;*/
    margin-right: 8px;
    margin-left: 8px;
}

.input__box__interest .interest__tags .interest__tag {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    background-color: #EFEFEF;
    font-size: 14px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    border: 1px solid #DADADA;

}

.input__box__interest .input__tag__interest {
    height: 30px;
    border:none;
    font-size: 14px;
    margin-top: 5px;
}

.input__box__interest .input__tag__interest:focus {
    outline:none;
}

.interest__tag__close__button {
    display: flex;
    flex-direction: column;
    /*justify-items: center;*/
    text-align: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid #B7B7B7;
    border-radius: 50%;
}

.interest__tag__close__button:hover {
    cursor: pointer;
}